html {
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
}

/* Navbar */
nav {
  background-color: rgba(219, 212, 10, 0.812);
  color: #fff;
}

nav h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

.navbar {
  display: table;
  list-style: none;
  margin: 0 auto;
  padding: 10px 0;
}

.navbar li {
  display: inline;
  margin: 13px 10px;
}

.Unactive {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.Active {
  color: orangered;
  text-decoration: none;
  font-weight: 600;
}

/* Home */
.home {
  padding: 30px;
}

/* Calculator */
.calculator-wrapper {
  padding: 19px;
}

.calculator-title {
  float: left;
}

.calculator {
  width: fit-content;
  float: right;
}

#input {
  width: calc(100% - 10px);
  line-height: 30px;
  border: none;
  background-color: rgb(104, 104, 104);
  padding: 5px;
  color: #fff;
  text-align: right;
  font-size: 2vh;
}

.keyboard-wrapper {
  width: 100%;
  background-color: rgb(184, 184, 184);
}

.keyboard button {
  aspect-ratio: 3/2;
  height: 100%;
  font-size: 2vh;
  width: 21vw;
  border: none;
  cursor: pointer;
}

.keyboard th:nth-child(4) button {
  background-color: orange;
}

.equal {
  background-color: orange;
}

@media screen and (min-device-width: 768px) {
  .calculator-wrapper {
    margin: 0 15vw;
  }

  .keyboard button {
    height: 8vh;
    width: 100%;
  }
}

/* Quote */
.quote {
  border: 5px solid rgba(105, 105, 105, 0.596);
  padding: 15px;
  margin: 20px;
}
